/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* General Styles */
html {
    scroll-behavior: smooth;
}



body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #FFFACD);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


/* Navigation */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    margin: auto;
    position: fixed;
    width: 97vw;
    top: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s ease-out forwards;
    z-index: 1000;
}

.top-nav h1 {
    color: #005f73;
}
.top-nav ul {
    list-style: none;
    display: flex;
}
.top-nav ul li {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.top-nav a {
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}

/* About Section */
.about {
    padding: 80px 20px;
    text-align: center;
    animation: fadeInUp 1.5s ease-out forwards;
}

.about h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}


.about p {
    font-size: 1.1rem;
    color: #555; 
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


.img-container {
    margin-top: -13%;
    margin-right: 55px;
    animation: fadeInUp 1.5s ease-out forwards;
   

}

#picture {
    border: 1px solid black;
    height: 62vh;
    width: 25vw;
}